<div class="wrapper">
    <app-path-bar [path]="path"></app-path-bar>
    <div class="container">
        <form [formGroup]="recoveryForm" class="form-recovery" (ngSubmit)="submit(recoveryForm)">
            <div class="item">
                <h5>Восстановление пароля</h5>
            </div>
            <div *ngIf="!isSended" class="item">
                <label>Введите адрес почты, указанный при регистрации</label>
                <input formControlName="email" type="email">
            </div>
            <div *ngIf="!isSended" class="item">
                <button class="btn yellow" type="submit" [disabled]="!recoveryForm.valid">
                    Отправить запрос
                </button>
            </div>
            <div *ngIf="isSended" class="item">
                На указнанный адрес отправлены инструкции по восстановлению пароля
            </div>
            <div *ngIf="isNotFound" class="item">
                Не найден пользователь с таким адресом
            </div>
            <div class="item">
                <a [routerLink]="['', 'login']">Назад на страницу входа</a>
            </div>
        </form>
    </div>
</div>