.form-recovery {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
}

.item {
    margin: 0 auto 12px auto;
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

input {
    min-width:  324px;
}


h1 {
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0;
}