<div class="modal"
@open
[@openClose]="isOpen ? 'open' : 'closed'"
>
    <div class="wrapper">
        <div class="block" *ngIf="!isComplete">
            <div class="header">
                <h2>Запрос оптового прайса</h2>
                <div class="close-icon" (click)="close()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </div>
            </div>
            <div class="body">
                <div class="buttons">                
                    <form [formGroup]="optReqForm" class="form-block" (ngSubmit)="submit()">
                        <div class="form-item">
                            <label>Имя*</label>
                            <input formControlName="name" placeholder="Введите имя" type="text">
                        </div>
                        <div class="form-item">
                            <label>Название компании*</label>
                            <input formControlName="company" placeholder="Введите название компании" type="text">
                        </div>
                        <div class="form-item">
                            <label>ИНН организации*</label>
                            <input formControlName="inn" placeholder="Введите ИНН организации" type="text">
                        </div>
                        <div class="form-item">
                            <label>E-mail*</label>
                            <input formControlName="email" placeholder="Введите e-mail" type="email">
                        </div>
                        <div class="form-item">
                            <label>Телефон*</label>
                            <input formControlName="phone" placeholder="Введите номер телефона" type="text">
                        </div>
                        <div class="buttons">
                            <button type="submit" class="btn yellow" [disabled]="!optReqForm.valid">Отправить</button>
                        </div>        
                    </form>
                </div>    
            </div>
        </div>
        <div class="block" *ngIf="isComplete">
            <div class="header">
                <h2>Заявка принята</h2>
                <div class="close-icon" (click)="close()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </div>
            </div>
            <div class="body">
                <p class="p1">
                    Нам менеджер в ближайшее время свяжется с вами
                </p>
            </div>
            <div class="buttons">
                <button class="btn yellow" (click)="close()">Закрыть</button>
            </div>
        </div>
    </div>
</div>
