<div class="wrapper">
    <app-path-bar [path]="path"></app-path-bar>
    <div class="container">
        <form *ngIf="isTokenValid" [formGroup]="recoveryForm" class="form-recovery" (ngSubmit)="submit(recoveryForm)">
            <h5 class="text-center">Восстановление пароля</h5>
            <div *ngIf="!isChanged" class="item">
                <input formControlName="password" type="password" placeholder="Новый пароль">
            </div>
            <div *ngIf="!isChanged" class="item">
                <input formControlName="repeatPassword" type="password" placeholder="Повторите новый пароль">
            </div>
            <div *ngIf="!isChanged" class="item">
                <button class="btn yellow" type="submit" [disabled]="!recoveryForm.valid || !(recoveryForm.value.password === recoveryForm.value.repeatPassword)">
                    Обновить пароль
                </button>
            </div>
            <div *ngIf="isChanged" class="item">
                <p>Пароль обновлен!</p>
                <a [routerLink]="['','login']">На страницу входа</a>
            </div>
        </form>
    </div>
</div>