<div class="wrapper">
    <app-path-bar [path]="path"></app-path-bar>
    <div class="container">
        <div class="main">
            <h1>Контакты</h1>
            <p class="p1">
                Наша компания является официальным дистрибьютором торговой марки ROWE в России.
Предлагаем лучшие условия и цены на продукцию ROWE в Москве и нацелены на долгосрочное сотрудничество.
Сотрудничаем с маленькими магазинами и сервисами, крупными оптовыми компаниями, сельхоз предприятиями и производственными компаниями.
            </p>
        </div>
    </div>
</div>

