<div class="wrapper">
    <div class="container">
        <app-path-bar [path]="path"></app-path-bar>
        <div class="main">
            <div class="i1">
                <img src="assets/about/open.png" alt="">
            </div>
            <div class="t1 p1">
                <p class="p1">
                    Безусловная приверженность и страсть! Это отличает нас на протяжении более 25 лет. Основанная в 1995 г. в Рейнхессише Флёрсхайм-Далсхайм дипл.-инж. Михаэлем Зехе компания, насчитывающая более 250 сотрудников по всему миру, стремится достичь наивысшего качества и профессионализма. Это подтверждается многочисленными выпусками продукции известных производителей в автомобильных и промышленных секторах и регулярными проверками. Как семейное предприятие мы производим не только инновационные и отвечающие требованиям окружающей среды смазочные материалы, но и всегда поставляем на международные рынки наши лучшие продукты.
                </p>
                <p class="p1">
                    Но что делает компанию ROWE особенной? Если проследить историю успеха, можно заметить, что успешная деятельность компании ROWE состоит не только в наличии идеи, но фундаментальными ценностями являются и долгосрочные отношения с клиентами и доверие к нашей фирменной марке. С момента основания компании и даже в трудные экономические времена впечатляющим является не только ежегодный стабильный рост продаж и оборота, но также и увеличение с каждым годом количества сотрудников.
                </p>
            </div>
            <div class="t2">
                <h3>«MADE IN GERMANY» ПОЛЬЗУЕТСЯ УСПЕХОМ ВО ВСЕМ МИРЕ.</h3>
                <p class="p1">
                    Благодаря многочисленным дочерним компаниям и верным клиентам в более чем 80 странах, мы можем работать гибко и, благодаря нашему комплексному портфелю смазочных материалов, покрывать мировые рынки и удовлетворять их потребности. Мы поддерживаем это с помощью сильного маркетинга в различных областях рынка.
                </p>
                <p class="p1">
                    С одной стороны, нашим сильным присутствием в автоспорте с собственной гоночной трассой и главным спонсором чемпионата на дальние дистанции Нюрбургринг, но и участием в многочисленных мероприятиях в профессиональном футболе. Так с 2017 года мы поддерживаем победителя Лиги чемпионов Borussia Dortmund, а также второй лиги SV Darmstadt 98 и FC St. Pauli.
                </p>
            </div>
            <div class="t3">
                <h3>КОГДА ДРУГИЕ ОСТАНАВЛИВАЮТСЯ, МЫ НАЧИНАЕМ.</h3>
                <p class="p1">
                    С открытием одного из самых современных заводов смазочных материалов в Европе в 2014 году мы установили новые стандарты для нас самих и на рынке смазочных материалов. Это подтверждается наряду с прочим более чем 65-километровыми трубопроводами, через которые проходит наша продукция HIGHTEC. Современная система контроля за процессом, которая определяет новые стандарты качества, а также полностью CO₂-компенсируемое производство, также отличают наш выдающийся завод-производитель.
                </p>
                <p class="p1">
                    Наша собственная лаборатория не только характеризует не только нашу компетентность в разработке новых продуктов, но служит и для проверки и контроля партий специально изготовленных собственных смесей. После утверждения начинается почти полностью автоматизированное производство с производительностью в 3 000 ёмкостей в час.
                </p>
                <p class="p1">
                    Однако наша ультрасовременная лаборатория не только разрабатывает новые смазочные материалы, они также тестируются на «движущемся объекте». С 2011 года мы проводим испытания и разрабатываем новые и инновационные продукты на нашей собственной гоночной трассе ROWE RACING для мировых гоночных трасс: от жидкости для гидроусилителя руля и гидравлического масла до классического моторного масла.
                </p>
                <p class="p1">
                    Окрашенные в яркие цвета канистры с уникальным поршневым дизайном объемом до 5 литров, производимые нашей дочерней компанией Palbo, наполняются затем лучшими продуктами ROWE и, как только они сходят с транспортёра, привлекают всеобщее внимание.
                    Однако наши многочисленные дилеры и мастерские пользуются не только хорошим продуктом. Правильное оборудование имеет важное значение: привлекательные магазинные системы и необходимое оборудование поддерживают наш мощный и надежный бренд. В общей сложности 15 компаний, частично участвующих в процессах, связанных с производством и переработкой продукции, участвуют в поддержке оптимального маркетинга продукции ROWE по всему миру. К ним относятся, в частности, различные иностранные компании, занимающиеся глобальными продажами, а также маркетинговая компания ROWE RACING как владелец гоночной трассы, а также строительная и проектная компания.
                </p>
            </div>
            <div class="i2">
                <img src="assets/about/rowe.png">
                <p class="text-discription">Управляющий директор, отец и дочь: Михаэль Зехе и доктор Александра Колманн. 
                    С 2016 года они вместе руководили компанией и определили курс на будущее.</p>
            </div>
            <div class="t4">
                <h3>СБАЛАНСИРОВАННОЕ ЭКОЛОГИЧЕСКОЕ РАЗВИТИЕ КАК БАЗОВАЯ ИДЕЯ</h3>
                <p class="p1">Быть примером – важно для нас во многих отношениях. Таким образом, мы не только создали один из самых современных заводов смазочных материалов в Европе, но он является с 2017 года и самым экологичным.
                    Это возможно благодаря нашей поддержке многих проектов в области энергетики и сбалансированного экологического развития, которые сводят к минимуму вредные парниковые CO₂-газы. Различные сертификаты, соответствующие экологическим стандартам, таким как ISO 14001 или менеджменту энергией согласно ISO 50001, являются лишь отдельными примерами нашей культуры экологичного производства и управления. Производство наших смазочных материалов с полной компенсацией CO₂, уменьшает не только экологический след наших клиентов, но и наших глобальных заказчиков. Энергия, необходимая для производства и управления, частично генерируется возобновляемыми источниками энергии, такими как фотоэлектрическая система, площадь поверхности которой составляет более 4 000 м², а также нашей собственной электростанцией.
                </p>
            </div>
    </div>
</div>
