.request-container {
    background-color: #3F4E54;
    height: 130px;
    width: 100%;
    margin-top: 30px;

    &.slim {
        height: auto;
    }
}

.request-block {
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    height: 100%;
    justify-content: flex-start;
    padding: 0 3rem;
    align-items: center;
    gap: 116px;

    &.slim {
        padding: 15px;
    }

    .background-svg {
        position: relative;

      svg {
        position: absolute;
        right: 0;
        top: -65px;
        left: -100px;
        z-index: 1;
      }
    }
}

.request-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.req-h2 {
    font-size: 30px;
}