.main-block {
    padding: 1.5rem 0.8rem;
    display: flex;
    flex-direction: column;

    h2 { 
        margin: 0;
    }

    .catalog-string {
        display: flex;
        padding: 6px 0;

        .catalog-item {
            display: flex;
            flex-direction: column;
            width: 35%;
            padding: 5px;
            align-items: center;
        }
    }
}