<div class="wrapper">
    <a class="block-icon" (click)="iconClick()">
        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17 19V17C17 15.9391 16.5786 14.9217 15.8285 14.1716C15.0783 13.4214 14.0609 13 13 13H5.00003C3.93916 13 2.92175 13.4214 2.1716 14.1716C1.42146 14.9217 1.00003 15.9391 1.00003 17V19"
              stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M8.99997 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 8.99997 1C6.79083 1 4.99997 2.79086 4.99997 5C4.99997 7.20914 6.79083 9 8.99997 9Z"
              stroke="#3F4E54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>       
    </a>
    <a class="block-lk" *ngIf="!(userName | async)" (click)="clickModal()">
        <h4>
            Личный кабинет
        </h4>
    </a>
    <div class="block-lk" [routerLink]="['/my-account/orders']" routerLinkActive="active" *ngIf="userName | async">
        <h4>
            {{userName | async}}
        </h4>
    </div>
    <div class="block-login text-light" *ngIf="(userName | async)" (click)="logout()">
        <div>
            Выход
        </div>
    </div>
</div>

<div *ngIf="modalIsOpen" (click)="clickModal()">
  <app-login-modal (click)="$event.stopPropagation()" (closeModalEmitter)="clickModal()"></app-login-modal>
</div>
