.wrapper {
  background-color: white;
  width: 400px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    min-width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 40px;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: space-between;

        .header-text {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .close-icon {
            cursor: pointer;
        }

        h2 {
            margin: 0 !important;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;

}

.bottom-form-item {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

