.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    min-height: 70vh;
}

.upload-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.result {
    font-size: 24px;
    color: green;
    
    &.success {
        color: green;
    }

    &.failed {
        color: red;
    }
}