@import "../../stylings/variables";

.main-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 1440px;

  .header {
    padding: 0 3rem;
  }

  .catalog-block {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    padding: 0 3rem;
    margin-bottom: 1rem;

    .filter-block {
      width: 220px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .list-block {
      width: 1180px;
      display: flex;
      flex-wrap: wrap;
    }

    .text-block {
      width: 1180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.btn-load {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
} 

.mobile-block {
  padding: 1rem;

  .mobile-text-block {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .mobile-filter-block {
    padding: 1rem 0;
  
    .mobile-filter-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }

    .mobile-settings-block {
      display: none;
      flex-direction: column;
      gap: 1rem;

      &.active {
        display: flex;
      }

      .divider {
        border-bottom: 2px solid $medium-grey;
      }
    }
  }

  .mobile-list-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.category-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  .category-btn {
    border-radius: 3px;
    border: 2px solid $light-grey;
    cursor: pointer;
    padding: 0.5rem;
    color: $dark-grey;

    &:hover {
      background-color: $light-grey;
    }

    &.active {
      border-color: $yellow;
      background-color: $yellow;
      color: $white;
    }
  }
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  select {
    width: 90%;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .checkbox-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 70px;
      height: 16px;

      input {
        margin: 0 !important
      }
    }
  }
}

