@import "../../stylings/variables";

.search-bar-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: $light-grey;
    z-index: 100;

    &.active {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .input-block {
        display: flex;
        gap: 1rem;
        padding: 8px 16px;

        input {
            flex-basis: 100%;
        }    
    }

    .help-block {
        display: flex;
        flex-direction: column;
        padding: 8px 16px;
        overflow: auto;

        .help-block-item {
            padding: 0.5rem 0;
            border-bottom: 2px solid $medium-grey;
        }
    }

}