@import "../../stylings/variables";

.wrapper {
  width: 100%;
  background-color: #F6F8F9;
  height: 60px;
}

.bar {
  display: grid;
  grid-template:
    "nav search"60px / 7fr 5fr;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.nav-bar {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;

  * {
    cursor: pointer;
  }

  .catalog {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 30px;

    :not(:first-child) {
      margin-left: 11px;
    }
  }



  .nav-element {
    border-bottom: 4px solid #F6F8F9;
    height: 60px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 4px 30px 0 30px;
    gap: 0.5rem;

    &.active {
      border-bottom-color: #C4C4C4;
    }

    &.discount {
      color: #E4170F;
    }
  }
}

.svg-block {
    width: 24px;
    height: 24px;
}

.block-search {
  grid-area: search;
  display: flex;

  :not(:first-child):not(.input-help):not(.item-help) {
    margin-left: 8px;
  }
}

.input-search {
  width: 83.15%;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ECEFF1;
  height: 40px;
  padding: 0 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.input-help {
  position: absolute;
  min-width: 260px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: white;
  z-index: 1000;
  top: 149px;
  margin: 0;

  &.slim {
    top: 320px;
  }

  .item-help {
    padding: 2px;
    position: relative;
    background-color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    z-index: 2;
    cursor: pointer;    
    transition: 0.2s ease;

    &:hover {
      background-color: $light-grey;
      color: $link-blue;
    }


    &:last-child {
      border-bottom: 0px;
    }
  }
}