.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    min-width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: white;
    width: 400px;
  }
  
  .block {
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .header {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: space-between;
  
          h2 {
              margin: 0 !important;
          }

          .close-icon {
              cursor: pointer;
          }
      }

      .body {
        .form-block {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;

          .form-item {
              display: flex;
              flex-direction: column;

              input {
                  width: 300px;
              }
          }
        }
    }

  }  