@import "../../stylings/variables";

.order-list-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .order-block {
    display: grid;
    grid-template:
      ".header ."60px 
      ".body ."auto 
      ".delivery ."50px 
      ".sum ."60px
      /20px 660px 20px;
    border-radius: 3px;
    background-color: $white-grey;
    width: 700px;

    .header {
      grid-area: header;
      justify-content: flex-start;
      display: flex;
      padding: 20px 0 0 0;

      .grey {
          color: $grey;
          padding-left: 1rem;
      }
    }

    .body {
      grid-area: body;
      display: flex;
      flex-direction: column;
      align-items: center;

      .item {
          display: flex;
          align-items: center;
          width: 100%;
          border-top: 1px solid $light-grey;
          height: 60px;
          padding: 0;
          gap: 0.5rem;
          cursor: pointer;

        .img {
          object-fit: contain;
          width: 40px;
          height: 40px;

          img {
            height: 100%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          width: 416px;
        }

        .quantity {
            width: 60px;
        }

        .sum {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

      }
    }

    .delivery {
      grid-area: delivery;
      border-top: 1px solid $light-grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .total-sum {
      grid-area: sum;
      border-top: 1px solid $light-grey;
      padding: 0 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;    
    }
  }
}