.benfits-block {
    display: flex;
    padding: 0 2rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.item-block {
    display: grid;
    grid-template: 
    "i t" 30px 
    "i b" 30px/ 1fr 4fr;
    max-width: 330px;
    padding: 1rem 0;
}

.svg-block {
    grid-area: i;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.top {
    grid-area: t;
    padding-left: 5px;
    padding-top: 10px;
}

.bot {
    grid-area: b;
    padding-left: 5px;
}
