<div class="container">
    <div class="benfits-block">
        <div class="item-block">
            <div class="svg-block">
                <img src="assets/icons/cart.png" alt="">
            </div>
            <div class="text-bold top">
                Бесплатная доставка по России
            </div>
            <div class="text-default bot">
                при заказе от 10 000 ₽
            </div>
        </div>
        <div class="item-block">
            <div class="svg-block flex-center">
                <img src="assets/icons/medal.png" alt="">
            </div>
            <div class="text-bold top">
                Оригинальная продукция
            </div>
            <div class="text-default bot">
                только официальные поставки
            </div>
        </div>
        <div class="item-block">
            <div class="svg-block">
                <img src="assets/icons/spec.png" alt="">
            </div>
            <div class="text-bold top">
                Специальные предложения
            </div>
            <div class="text-default bot">
                скидки постоянным покупателям
            </div>
        </div>
        <div class="item-block">
            <div class="svg-block">
                <img src="assets/icons/safe.png" alt="">
            </div>
            <div class="text-bold top">
                Надежная оплата
            </div>
            <div class="text-default bot">
                защита электронных платежей
            </div>
        </div>

    </div>
</div>
