$main-red: #e4170f;
$dark-red: #b4120c;
$yellow: #f7a600;
$gold-yellow: #c48400;
$link-blue: #2196f3;
$green: #4caf50;
$white: #ffffff;
$white-grey: #f6f8f9;
$light-grey: #ECEFF1;
$medium-grey: #CFD8DC;
$grey: #90a4ae;
$dark-grey: #3f4e54;
