.main-block {
    width: 300px;
    
    .form-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-item {
            display: flex;
            flex-direction: column;

            .button-block {
                display: flex;
                justify-content: center;
            }
        }
    }
}