.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    flex-wrap: wrap;
}

.item {
    padding: 1rem 0;
    width: 458px;
    height: 250px;
    cursor: pointer;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}