.order-block {
    padding: 1rem;

    .order-product {
        display: flex;
        align-items: center;
        padding: 0.2rem 0;
        justify-content: flex-end;

        .name {
            padding: 0 0.2rem;
            flex-basis: 170px;

        }

        .quantity {
            padding: 0 0.2rem;
            flex-basis: 22px;
        }

        .sum {
            padding: 0 0.2rem;
            flex-basis: 71px;
        }
    }
}