.carousel-container{
    width: 100%;
    height: 100%;
    margin: 10px auto 0 auto;
    height: 440px;
    max-width: 1402px;

}

.nav-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;

    * {
        stroke: #CFD8DC;
    }

    &:active {
        * {
            stroke: #85888a;
        }
    }
}

.indicator {
    width: 31px;
    border-bottom: 4px solid #CFD8DC;

    &.selected {
        border-bottom-color: #3F4E54;
    }
}

:host ::ng-deep{
    .image-container{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel{
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot{
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
    }

    .igx-slide img{
        object-fit: fill;
        max-width: 100%;
    }

    .igx-carousel-indicators--bottom {
        left: 135px;
    }
}