<!-- <div *ngIf="!(isSlim | async)" class="carousel-container">
    <igx-carousel #carousel>
            <igx-slide  *ngFor="let slide of slides">
                <div class="image-container">
                    <img [src]="slide.src">
                </div>
             </igx-slide>
             <ng-template igxCarouselIndicator let-slide>
                <div class="indicator" [ngClass]="{'selected': slide.active}"></div>
            </ng-template>
             <ng-template igxCarouselNextButton let-disabled>
                <button class="nav-btn flex-center" [disabled]="disabled">
                    <svg width="18" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.72144 1.55396L16.7214 16.554L1.72144 31.554" stroke="#CFD8DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </ng-template>            
            <ng-template igxCarouselPrevButton let-disabled>
                <button class="nav-btn flex-center" [disabled]="disabled">
                    <svg width="18" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.2786 31.446L1.27856 16.446L16.2786 1.44604" stroke="#CFD8DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </ng-template>
    </igx-carousel>
</div> -->


