@import "../../stylings/variables";

.cont {
  min-height: 70vh;
}

.main-block {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

.left-block {
  display: grid;
  grid-template:
    "img head"120px 
    "img capacity"130px 
    "img pdf"80px
    "img approvs"170px
    "discription discription"
    auto / 500px 570px;

    .head-block {
      grid-area: head;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    
      .favorites {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
        cursor: pointer;

        .red {
          stroke: #e4170f !important;
        }
      }
    }
    
    .capacity-block {
      grid-area: capacity;
      display: flex;
      flex-direction: column;
    
      .text-green {
        font-size: 16px;
        color: #4caf50;
        line-height: 18px;
        margin-top: 10px;
      }
    }
    
    .pdf-block {
      grid-area: pdf;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .approvs-block {
      grid-area: approvs;
      display: flex;
      flex-direction: column;
      gap: 1rem;

    }
    
    .discription-block {
      grid-area: discription;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 2rem;
    }   

    .img-block {
      grid-area: img;
    
      &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    } 
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .purchase-block {
    width: 340px;
    height: 190px;
    border-radius: 3px;
    box-shadow:  0 0 10px rgba(71, 71, 71, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .price {
      font-size: 36px;
      line-height: 38px;
      color: #E4170F;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: bold;
    }
    
    .button {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      & > button {
        width: 100%;
        justify-content: center;
      }
    }
  }
  
  .help-block {
    width: 336px;
    height: 216px;
    border-radius: 3px;
    border: 2px solid $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .background {
      position: relative;

      svg {
        position: absolute;
        right: 0;
        top: 33px;
        z-index: 1;
      }
    }

    h2 {
      padding-left: 20px;
      padding-right: 20px;
      z-index: 2;
    }

    .text {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 2;
    }

    .button {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      z-index: 2;
      
      button {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.h2 {
  font-size: 18px !important;
  line-height: 0 !important;
}


.mobile-block {

  .mobile-info-block {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .mobile-text-green {
      color: #4caf50;
    }

    .mobile-pdf-block {
      display: flex;
    }

    .mobile-img {
      object-fit: contain;
      width: 85vw;
      height: 85vw;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }
  }
}

.mobile-bottom-bar {
  position: fixed;
  height: 62px;
  bottom: 62px;
  z-index: 20;
  width: 100%;
  background-color: $light-grey;
  border-bottom: 1px solid $medium-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-buttons-block {
  display: flex;
  gap: 0.5rem;

  .fav-button-red {
    fill: $main-red
  }
  
  .fav-button-white {
    fill: $white
  }

  .mobile-button-item {
    height: 38px;
    padding: 0.5rem;
  }
}

.counter {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  &.slim {
    padding: 0;
    gap: 0.3rem;
  }

  .slim-input {
    width: 25px !important;
  }

  input {
    width: 49px;
    height: 39px;
    padding: 0;
  }
}

.text-red {
  color: $main-red
}

.pack-block {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pack-item {
  height: 38px;
  width: 47px;
  border-radius: 3px;
  border: 2px solid $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-grey;
  cursor: pointer;

  &.pack-item-active {
    background-color: $yellow;
    border-color: $yellow;
    color: $white;
  }
}
   
.pdf-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
