@import "../../stylings/variables";

.main {
  min-height: 80vh;
  margin: 0 3rem 3rem 3rem;
  display: flex;

  .cart-block {
    display: flex;
    gap: 20px;

    .left-block {
      display: flex;
      flex-direction: column;
      width: 1060px;
  
      .item {
        display: flex;
        border: 1px solid $light-grey;
        width: 100%;
        border-radius: 5px;
        height: 139px;
        margin-bottom: -1px;
        padding: 30px 0px;

        .img {
          object-fit: contain;
          width: 125px;

          img {
            height: 100%;
          }
        }
  
        .info {
          margin-top: 4px;
          width: 600px;
        }
  
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          width: 200px;
        }
  
        .control {
          display: flex;
          gap: 2rem;
          cursor: pointer;

          .control-item {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            width: 186px;
          }  
        }
      }
    }
  
    .right-block {
      display: flex;
      flex-direction: column;
      width: 340px;
      height: 270px;
  
      .item {
        width: 100%;
        border: 1px solid $light-grey;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;

        .line {
          display: flex;
          justify-content: space-between;

          button {
            width: 100%;
            justify-content: center;
          }
        }
      }

      .up {
        height: 140px;
        
        h4 {
          padding-top: 1rem;
        }
      }
      
      .down {
        height: 130px;
        margin-top: -1px;
      }

    }
  }
}

.mobile-block {
  padding: 1rem;
  min-height: 70vh;

  .mobile-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }

  .mobile-cart-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .mobile-control {
      gap: 1.5rem;
      display: flex;

      .mobile-control-item {
        display: flex;
      }
    }

    .mobile-cart-item {
      display: flex;
      border-bottom: 3px solid $light-grey;
      padding: 0.5rem 0;
      justify-content: center;
      
      .mobile-item-image {
        object-fit: contain;
        width: 64px;
        height: 64px;

        img {
          height: 100%;
        }
      }

      .mobile-item-info {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 230px;
      }
    }
  }
}

.checkout-block {
  position: fixed;
  height: 62px;
  bottom: 62px;
  background-color: $light-grey;
  z-index: 20;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid $medium-grey;
  justify-content: space-between;

  .checkout-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      margin: 0;
    }
  }
}

.counter {
  display: flex;
  align-items: center;

  & > * {
    width: 32px;
    height: 32px;
  }
}

.divider {
  width: 100%;
  border-bottom: 3px solid $light-grey;
}
