.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;

    &.slim {
        justify-content: center;
    }
}

.title {
    font-size: 24px;
    margin: 35px 15px 0px 15px;
}