<div class="wrapper">
    <app-path-bar [path]="path"></app-path-bar>
    <div class="container">
        <div class="main">
            <div>
                <h1>Оптовым покупателям</h1>
                <p class="p1">
                    Наша компания является официальным дистрибьютором торговой марки ROWE в России.
                </p>
                <p class="p1">
                    Предлагаем лучшие условия и цены на продукцию ROWE в Москве и нацелены на долгосрочное сотрудничество.
                </p>
                <p class="p1">
                    Сотрудничаем с маленькими магазинами и сервисами, крупными оптовыми компаниями, сельхоз предприятиями и производственными компаниями.
                </p>    
            </div>
            <div class="button">
                <button class="btn yellow" (click)="optReqModal()">Заявка на оптовый прайс</button>
            </div>
            <div>
                <h3>Приемущества сотрудничества</h3>
                <p class="p1">
                    · Широкий ассортимент продукции Rowe в Москве со склада дистрибьютора
                </p>
                <p class="p1">
                    · Лучшие оптовые цены
                </p>
                <p class="p1">
                    · Бесплатная доставка в пределах Москвы, бесплатная доставка до транспортной компании
                </p>
                <p class="p1">
                    · Рекламная продукция Rowe
                </p>
                <p class="p1">
                    · Возможность отсрочки платежей
                </p>
            </div>
        </div>
    </div>
</div>

<app-opt-req-modal *ngIf="optReqModalIsOpen" (closeModal)="optReqModal()"></app-opt-req-modal>